// _theme.scss

/* Fonts */
$default-font-stack: Helvetica, Arial, sans-serif;

/* Custom Fonts */
$fonts-dir: '../assets/fonts/';
$credits-font-face: CreditsFont;
$credits-font-face-url: $fonts-dir+'Comfortaa.ttf';
$title-font-face: TitleFont;
$title-font-face-url: $fonts-dir+'SimplyRounded.ttf';
$default-font-face: DefaultFont;
$default-font-face-url: $fonts-dir+'RobagaRounded.otf';

/* Font Sizes */
$small-font-size: 13px;
$medium-small-font-size: 15px;
$medium-font-size: 18px;
$medium-large-font-size: 23px;
$large-font-size: 28px;
$xlarge-font-size: 45px;
$mainscreen-title-font-size: 58px;

$input-font-size: $medium-font-size;

/* Colors */
$default-bg-color: #e7f7f7; //very light green
$first-gradient-color: #87ceeb; //skyblue
$second-gradient-color: #90ee90; //limegreen
$black: #000;
$dark-grey: #444;
$medium-grey: #999;
$medium-light-grey: #666;
$white: #FFF;
$off-white: #f5f6e6;
$input-caret-color: #e91e64; //fushia
$input-error-border-color: red;
$button-bg-color: #49bb74; //green
$credits-links-color: blue;
$mainscreen-bg-color: #82d7d4;
$quit-button-color: #ff1000;
$mainscreen-button: $off-white;
$mainscreen-button-active: #f1dfbc;
$mainscreen-button-text-color: #607d8b;
$trees-bg-color: #87ceeb;
$points-color: #035735;
$team-bg-color: #00aeb2;
$team-buttons-color: #82d7d4;
$team-actions-card-color: #017a7d;
$progress-bar-color: #90ee90;
$trees-base-color: #a26234;
$trees-base-border-color: #704324;

$scrollbar-color: $mainscreen-bg-color;
$input-border-color: $medium-light-grey;
$input-focus-border-color: $black;
$placeholder-color: $medium-grey;
$action-list-bg-color: $white;
$button-text-color: $white;
$mainscreen-button: $off-white;

$category-button-gradient-color: $medium-grey;

/* Shadows */
$title-drop-shadow: 2px 2px 4px #444;
$button-drop-shadow: 1px 2px 4px #666;
$card-drop-shadow: 0px 2px 4px #666;

/* Images */
$mainscreen-header-img: "../assets/img/mainscreen_header.png";
$scrunched-paper-img: "../assets/img/fiche_bg_img.jpg";

/* Sizes */
$category-icon: 45; // Not in px because we perform operations
$category-button-size: ($category-icon + 25)+px;
$action-list-icon-size: $category-icon+px;
$flipcard-size: 72px;

/* Mixins */
@mixin full-window() {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin category-button() {
  border-radius: 8px;
  height: $category-button-size;
  width: $category-button-size;
}

@mixin default-text() {
  font-family: DefaultFont;
  letter-spacing: -0.3px;
  text-shadow: 0.2px 0.5px 1px $medium-grey;
}
